# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.json
*.sqlite

# Compiled Bytecode, precompiled output and assembly
*.amx

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Server Config, Settings for stable server work
*.cfg

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
logs/errors.log
server_log.txt
logs/warnings.log
logs/
scriptfiles/
.project
.pub