#! òåêñòîâàÿ êîíôèãóðàöèÿ ôàéëîâ

#? text=auto - ãèò ñàì îïðåäåëÿåò òåêñòîâûé ýòî ôàéë èëè áèíàðíûé
#? if(-text) - ñíèìàåò îïðåäåëåíèå òåêñòîâîãî/áèíàðíîãî ôîðìàòà

* text=auto

#*force text 
*.html text
*.js text
*.css text

#* windows
*.sln text eol=crlf
*.bat eol=crlf

#* unix
*.sh eol=lf

#* bin
*.jpg -text
*.gif -text
*.exe -text
*.dll -text


#* change language tag

*.css linguist-language=CSS
*.dll linguist-language=C++
*.pwn linguist-language=Pawn
*.inc linguist-language=Pawn
*.md  linguist-language=Markdown
*.js  linguist-language=JavaScript
*.json linguist-language=JSON
*.sqlite linguist-language=SQL
*.sql linguist-language=SQL
*.exe linguist-language=C++
*.php linguist-language=PHP
*.html linguist-language=HTML
*.mdl linguist-language=Objective-C
*.bmf linguist-language=Objective-C
*.ep linguist-language=C++
*.rsc linguist-language=Lua
*.mat linguist-language=MATLAB
*.fnt linguist-language=F#
*.lfx linguist-language=HLSL
*.tfx linguist-language=HLSL
*.pfx linguist-language=HLSL
*.ans linguist-language=ANTLR
*.gtitle linguist-language=Python
*.gtitleinfo linguist-language=Python
*.cfg linguist-language=TypeScript
