#! текстова€ конфигураци€ файлов

#? text=auto - гит сам определ€ет текстовый это файл или бинарный
#? if(-text) - снимает определение текстового/бинарного формата

* text=auto

#*force text 
*.html text
*.js text
*.css text

#* windows
*.sln text eol=crlf
*.bat eol=crlf

#* unix
*.sh eol=lf

#* bin
*.jpg -text
*.gif -text
*.exe -text
*.dll -text


#* change language tag

*.css linguist-language=CSS
*.dll linguist-language=C++
*.pwn linguist-language=Pawn
*.inc linguist-language=Pawn
*.md  linguist-language=Markdown
*.js  linguist-language=JavaScript
*.json linguist-language=JSON
*.sqlite linguist-language=SQL
*.sql linguist-language=SQL
*.exe linguist-language=C++
*.cfg linguist-language=TypeScript